@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 400px) {
  .global-search {
    padding: 20px 0;
    text-align: center;
  }
  body {
    padding-top: 15%;
    padding-bottom: 15px;
    background-color: #fff;
  }
  .global-search {
    text-align: center;
    padding: 10px;
  }
  .global-search .form-control {
    width: 480px;
  }
  input[type="text"] {
    font-size: 1.5em;
    background-color: #fff;
    border: none;
    box-shadow: none;
    border-radius: none;
    border-bottom: 5px solid #4285f4;
    height: 45px;
    outline: none;
  }
  .global-search * {
    display: inline-block;
    margin-bottom: 0;
  }
}
.topcorner {
  position: absolute;
  top: 2%;
  right: 2%;
}
.btn {
  background-color: #4285f4;
  border: none;
  margin-left: 10px;
}
.step-links a {
  color: #4285f4;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.output {
  width: 43%;
}
#move {
  margin-bottom: 0px;
  margin-top: -5px;
}
#idk {
  margin-bottom: 10px;
}
#card {
  /* border: 1px solid #fff; */
  /* border-radius: 10px;
  padding: 20px;
  margin: 5 5 5 5;
  text-align: left; */
  /* background-color: #c4e0f9; */
  /* -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75); */
}
/* #subtitle {
  font-size: 1.2em;
} */
#adjust {
  margin-top: 0px;
}
#text {
  font-size: 15px;
}
.blank {
  display: none;
}
