<html>
  <head>
    <!-- <link rel="stylesheet" href="/static/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="/static/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="topcorner"></div>
    <form class="form-inline global-search center-align">
      <h1
        style="font-size: 55px; font-family: 'Nunito', sans-serif; color: #4285F4"
      >
        <!-- C
        <font color="#EA4335">S</font>
        <font color="#FBBC05">4</font>
        3
        <font color="#34A853">0</font>
        <font color="#EA4335">0</font> -->
        <a href="/">Museum Recommender</a>
      </h1>

      <br /><br />

      <div class="form-group col s12">
        <input
          id="autocomplete-input"
          type="text"
          name="search"
          class="autocomplete"
        />

        <label>
          <input type="checkbox" name="checkbox" />
          <span>US-only</span>
        </label>

        <button type="submit" class="btn btn-info btn-lg blue">Search</button>
      </div>
    </form>
    <form class="form-inline global-search">
      {% if data %}

      <h4 id="move" class="center-align">
        You searched for {{ output_message }}
      </h4>

      {% if results|length > 0 %}
      <h4 id="idk" class="center-align">Top Results</h4>
      {% else %}
      <h4 id="idk" class="center-align">No Results</h4>
      {% endif %}

      <div class="container">
        {% for t in results %}
        <div class="row">
          <div class="col s8 push-s2">
            <div class="card">
              <div class="card-image">
                <img src="{{ t[3] }}" />
                <span class="card-title">{{ t[0] }}</span>
              </div>
              <div class="card-content">
                <!-- <p>{{ output_message.split() | length }}</p> -->
                {% set words = [] %} {% for search in output_message.split() %}
                <div class="blank">{{ words.append(search.lower()) }}</div>
                {% endfor %} {% for w in t[2].split()%}{% if w.lower() in words
                %}
                <p class="inline" id="highlight">{{ w }}</p>
                {%else%}
                {{ w }}
                {% endif %} {% endfor %}
              </div>
              <div class="card-action activator center-align">
                <a class="activator" id="link">More Info</a>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4 center-align"
                  ><h5>{{ t[0] }}</h5>
                </span>
                <br />
                <ul class="collection with-header">
                  <li class="collection-header"><h6>Similar Museums</h6></li>
                  {% for x in t[4] %}
                  <li class="collection-item">
                    <a href="{{ x[1] }}">{{ x[0] }}</a>
                  </li>
                  {% endfor %}
                </ul>
                <br />
                {% if t[7]|length > 0 %}
                <ul class="collection with-header">
                  <li class="collection-header"><h6>Selected Reviews:</h6></li>
                  {% for y in t[7] %}
                  <li class="collection-item">"{{ y }}"</li>

                  {% endfor %}
                </ul>
                {% else %}

                <br />
                <h6>No reviews available for this museum</h6>
                <br />

                {% endif %}

                <h6>Address: {{ t[5] }}</h6>
                <br />
                <img src="{{ t[6] }}" />
                <br />
                <span class="card-title grey-text text-darken-4 center-align"
                  ><i class="material-icons center">close</i></span
                >
              </div>
            </div>
          </div>
        </div>
        {% endfor %} {% endif %}
      </div>
    </form>
  </body>
</html>
