<html>
  <head>
    <!-- <link rel="stylesheet" href="/static/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="/static/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="topcorner">
      <!-- <p>Project Name: {{ name }}</p>
      <p>Student Name: {{ netid }}</p> -->
    </div>
    <form class="form-inline global-search center-align">
      <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
        <!-- C
        <font color="#EA4335">S</font>
        <font color="#FBBC05">4</font>
        3
        <font color="#34A853">0</font>
        <font color="#EA4335">0</font> -->
        Museum Recommender
      </h1>

      <br /><br />

      <div class="form-group col s12">
        <input
          id="input form_styles"
          type="text"
          name="search"
          class="form-control"
        />
        <button type="submit" class="btn btn-info btn-lg blue">Search</button>
      </div>
    </form>
    <form class="form-inline global-search">
      {% if data %}

      <h4 id="move" class="center-align">{{ output_message }}</h4>

      <h4 id="idk" class="center-align">Top Results</h4>

      <div class="container">
        {% for t in results %}
        <div class="row">
          <div class="col s8 push-s2">
            <div class="card">
              <div class="card-image">
                <img src="{{ t[3] }}" />
                <span class="card-title">{{ t[0] }}</span>
              </div>
              <div class="card-content">
                <p>
                  {{ t[2] }}
                </p>
              </div>
              <div class="card-action activator center-align">
                <a class="activator" id="link">Similar Museums</a>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4 center-align"
                  ><h5>{{ t[0] }}</h5>
                </span>
                <br />
                <ul class="collection with-header">
                  <li class="collection-header"><h5>Similar Museums</h5></li>
                  {% for x in t[4] %}

                  <li class="collection-item">{{ x }}</li>

                  {% endfor %}
                </ul>
                <br />
                <span class="card-title grey-text text-darken-4 center-align"
                  ><i class="material-icons center">close</i></span
                >
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="card">
        <div class="card-body" style="width: 65rem;" id="card">
          <h3 class="card-title" id = 'adjust'>{{ t[0] }}</h3>
          <br/>
          <img src = '{{t[3]}}' width = '400'>
          <br />
          <p class="card-text"><h4>Description: &nbsp;</h4>{{ t[2] }}</p>
          <br/> -->
        <!-- <p id = 'more' class = 'blank'>{{more_info[0][0]}}</p>
          <p id = 'more2' class = 'blank'>{{more_info[1][0]}}</p>
          <p id = 'more3' class = 'blank'>{{more_info[2][0]}}</p> -->
        <!-- <div class="blank">
            
          <script>
            function showMore(){
              var name = document.getElementById('more').innerHTML
              document.getElementById('similar').innerHTML = name

              var name2 = document.getElementById('more2').innerHTML
              document.getElementById('similar2').innerHTML = name2

              var name3 = document.getElementById('more3').innerHTML
              document.getElementById('similar3').innerHTML = name3
            }
          </script>
          </div> -->

        <!-- <button type="button" class="btn btn-primary spacing" onclick = 'showMore()'>Similar Museums</button>
          <br />
          <h3 id="similar"></h3>
          <br/>
          <h3 id="similar2"></h3>
          <br/>
          <h3 id="similar3"></h3> -->
        <!-- </div> -->

        <!-- </div> -->

        <!-- <p>{{ d }}</p> -->
        {% endfor %} {% endif %}
      </div>
    </form>
  </body>
</html>
