<html>
  <head>
    <!-- <link rel="stylesheet" href="/static/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="/static/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="topcorner">
      <!-- <p>Project Name: {{ name }}</p>
      <p>Student Name: {{ netid }}</p> -->
    </div>
    <form class="form-inline global-search center-align">
      <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
        <!-- C
        <font color="#EA4335">S</font>
        <font color="#FBBC05">4</font>
        3
        <font color="#34A853">0</font>
        <font color="#EA4335">0</font> -->
        Museum Recommender
      </h1>

      <br /><br />

      <div class="form-group col s12">
        <input
          id="autocomplete-input"
          type="text"
          name="search"
          class="autocomplete"
        />
        <button type="submit" class="btn btn-info btn-lg blue">Search</button>
      </div>
    </form>
    <form class="form-inline global-search">
      {% if data %}

      <h4 id="move" class="center-align">{{ output_message }}</h4>

      {% if results|length > 0 %}
        <h4 id="idk" class="center-align"> Top Results </h4>
      {% else %}
        <h4 id="idk" class="center-align"> No Results </h4>
      {% endif %}


      <div class="container">
        {% for t in results %}

        <!-- <div class="blank">
          <p id="lat">{{ t[6] }}</p>
          <p id="lng">{{ t[7] }}</p>
          <script>
            // console.log("{{t[6]|safe}}");

            var lat = document.getElementById("lat").innerHTML;
            var lng = document.getElementById("lng").innerHTML;

            function initMap() {
              // var lat = "{{t[6]}}";
              // var lng = "{{t[7]}}";
              var location = { lat: Number(lat), lng: Number(lng) };
              var map = new google.maps.Map(document.getElementById("map"), {
                center: location,
                zoom: 8
              });
              var marker = new google.maps.Marker({
                position: location,
                map: map
              });
            }
          </script>
        </div> -->
        <!-- <span onclick="initMap()">{{ t[6] }}</span> -->
        <div class="row">
          <div class="col s8 push-s2">
            <div class="card">
              <div class="card-image">
                <img src="{{ t[3] }}" />
                <span class="card-title">{{ t[0] }}</span>
              </div>
              <div class="card-content">
                <p>
                  {{ t[2] }}
                </p>
              </div>
              <div class="card-action activator center-align">
                <a class="activator" id="link">More Info</a>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4 center-align"
                  ><h5>{{ t[0] }}</h5>
                </span>
                <br />
                <ul class="collection with-header">
                  <li class="collection-header"><h5>Similar Museums</h5></li>
                  {% for x in t[4] %}
                  <li class="collection-item">{{ x }}</li>
                  {% endfor %}
                </ul>
                <br />
                <h6>Address: {{ t[5] }}</h6>
                <br />
                <img src="{{ t[6] }}" />
                <br />
                <span class="card-title grey-text text-darken-4 center-align"
                  ><i class="material-icons center">close</i></span
                >
              </div>
            </div>
          </div>
        </div>
        {% endfor %} {% endif %}
      </div>
    </form>

    <!-- <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-iVMtBG7yZrETOvn0cowcSB_4Wsky_b4&callback=initMap"
      async
      defer
    ></script> -->
  </body>
</html>
